* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background-color: white;
}
.nav-bar {
  border-bottom: 1px solid grey;
  height: 100px;
  display: flex;
  justify-content: space-between;
  
}

.logo-img {
  width: 160px;
  height: 100px;
}

.nav-ul {
  list-style-type: none;
  
  padding: 40px;

}

.nav-ul li {
  display: inline-block;
  
  padding-left: 100px;
  font-size: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: bolder;
}
.nav-ul li a{
  color: #000;
  text-decoration: none;
  font-weight: bolder;
}
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
  
}

.dropdown-content li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
  
  text-align: left;
}
.dropdown-content li:hover {
  background-color: #ddd;
}


.dropdown-content a {
  color: black; /* Set the color of the links within the dropdown content to black */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home-img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container {
  
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 25px;
  margin-left: 140px;
  margin-right: 100px;
  
  
 }
 .card {
  object-fit: contain;
  width: 250px; /* Increased width */
  height: 350px; /* Increased height */
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #f0f0f0;
  margin-bottom: 20px; /* Added margin for spacing between cards */
}
.delete-btn {
  background-color: #ff3333; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.delete-btn:hover {
  background-color: #cc0000; 
}


.card:hover {
  transform: scale(1.1); /* Scale the card to 50% of its original size */
  
}

.property-name{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.property-img{
  width: 250px;
  height: 200px;
  object-fit:cover;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 4px;
}
.property-details{
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
}
.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.city-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-btn {
  width: 100px;
  height: 40px;
  background-color: #00b4d8; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.testimonials {
  position: relative;
  margin-top: 30px;
  text-align: center;
  width: 900px;
  margin: 30px auto;
} 

.testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333; 
  margin-bottom: 50px; 
  font-weight: bold; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.testimonial-card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
 
}

.testimonial-image {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
  
}

.testimonial-card h3 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}

.testimonial-card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}

.testimonial-controls {
  text-align: center;
  margin-top: 20px;
  
}

.testimonial-controls button {
  background-color: #01b0f8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.testimonial-controls button:hover {
  background-color: #0077b6;
}

.testimonial-controls button:focus {
  outline: none;
}

.contact-card{
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
}

.contact-card h1 .contact-card h2{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contact-form{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8f4f8;
}

.contact-form form div{
  margin-bottom: 10px;
}

.contact-form label{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
} 

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-info {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.map-container {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.social-media-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-media-links > * {
  font-size: 30px;
  color: #007bff;
  transition: color 0.3s;
}

.social-media-links > *:hover {
  color: #0056b3;
}
.property-card{
  margin-left: 600px;
  margin-right: 600px;

}
.property-specs {
  object-fit: contain;
  width: 300px; 
  height: 410px; 
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  
  background-color: #f0f0f0;
  margin-top:100px; 

}

.property-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-image {
  width: 100%;
height: 200px;
  
  margin-top: 10px;
}

.property-details {
  margin-top: 10px;
}

.property-price,
.property-location {
  margin-bottom: 5px;
}

.property-description {
  line-height: 1.5;
}.update-form {
  display: flex;
  flex-direction: column;
  max-width: 300px; 
  margin: 0 auto; 
}

.name-update,
.text-update,
.image-update {
  margin-bottom: 10px; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.edit-button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.edit-button:hover {
  background-color: #0056b3; 
}

.testimonial-controls {
  margin-top: 20px;
}

.testimonial-controls button {
  padding: 8px 16px; 
  margin-right: 10px;
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.testimonial-controls button:hover {
  background-color: #0056b3; 
} 
.cardBar {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  
  left: 50%;
}