* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background-color: white;
}
.nav-bar {
  border-bottom: 1px solid grey;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 160px;
  height: 100px;
}

.nav-ul {
  list-style-type: none;
  
  padding: 40px;

}

.nav-ul li {
  display: inline-block;
  
  padding-left: 100px;
  font-size: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
  
}

.dropdown-content li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
  
  text-align: left;
}
.dropdown-content li:hover {
  background-color: #ddd;
}


.dropdown-content a {
  color: black; /* Set the color of the links within the dropdown content to black */
}

.dropdown:hover .dropdown-content {
  display: block;
}
.home{
  width: 100%;
  height: 100vh;
}
.home-img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 25px;
  margin-left: 140px;
  margin-right: 100px;
  
  
 }
 .card {
  object-fit: contain;
  width: 250px;
 border: 1px solid grey;
 height: 330px;
 border-radius: 10px;
 
}
.property-img{
  width: 250px;
  height: 200px;
  object-fit:cover;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 4px;
}
.property-details{
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding-top: 15px; 
}
.property-name{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.city-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-btn {
  width: 100px;
  height: 40px;
  background-color: rgb(250, 212, 143); 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} 